<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.OrderSettingMapper">

     <select id="getOrderSettingList" resultType="com.atguigu.bean.OrderSetting">
          select id,member_id memberId,orderDate,orderType,orderStatus from t_order
     </select>

</mapper>